@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}




.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

.loader {
    width: 100px;
    height: 100px;
    position: relative;
}

.loader-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid transparent;
    border-top-color: #07948d;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loader-inner::before,
.loader-inner::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 5px solid transparent;
}

.loader-inner::before {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top-color: #07948d;
    animation: spin 2s linear infinite;
}

.loader-inner::after {
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    border-top-color: #07948d;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loader-wrapper.hidden {
    opacity: 0;
    pointer-events: none;
}

*::selection {
    background: #07948d;
    color: #fdfdfd;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: #fdfdfd;
    color: #333;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky {
    background: #fdfdfd;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
}

.logo {
    font-size: 25px;
    color: #07948d;
    font-weight: 600;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 17px;
    color: #fdfdfd;
    font-weight: 500;
    margin-right: 35px;
}

.header.sticky .navbar a {
    color: #333;
}

.header.sticky .navbar a.active {
    color: #07948d;
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #fdfdfd;
}

.header.sticky .navbar a::before {
    background: #07948d;
    opacity: .7;
}

#darkMode-icon {
    font-size: 24px;
    color: #fdfdfd;
    cursor: pointer;
}



#menu-icon {
    font-size: 36px;
    color: #333;
    display: none;
}

section {
    min-height: 800px;
    padding: 100px 7% 20px;
}

.home {
    display: flex;
    align-items: center;
}

.home .home-content {
    max-width: 440px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: .3;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 3px;
}

.home-content p {
    font-size: 16px;
}

.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #07948d;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    font-size: 20px;
    color: #07948d;
    margin: 25px 15px 30px 0;
    transition: .5s ease;
}

.home-content .social-media a:hover {
    background: #07948d;
    color: #fdfdfd;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #07948d;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    font-size: 16px;
    color: #fdfdfd;
    letter-spacing: 1px;
    font-weight: 600;
    border: 2px solid transparent;
    transition: .5s ease;
}

.btn:hover {
    background: transparent;
    color: #07948d;
    border-color: #07948d;
}

.home .profession-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100vw;
    height: 800px;
    overflow: hidden;
    pointer-events: none;
}

.home .profession-container .profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 13s ease-out infinite;
}

@keyframes professionRotate {
    0%, 20% { transform: rotate(0deg); }
    25%, 45% { transform: rotate(-90deg); }
    50%, 70% { transform: rotate(-180deg); }
    75%, 95% { transform: rotate(-270deg); }
    100% { transform: rotate(-360deg); }
}

.home .profession-box .profession {
    position: absolute;
    left: 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #07948d;
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    background: #fdfdfd;
    padding: 13px 0;
}


.home .profession-box .gp{
    position: absolute;
    left: 10px;
}

.home .profession-box .profession:nth-child(1) i {
    margin-right: 15px;
}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4) {
    padding-bottom: 20px;
}

.home .profession i {
    font-size: 38px;
}

.home .profession h3 {
    font-size: 32px;
    line-height: 1;
    font-weight: 600;
}

.home .profession-box .circle {
    width: 560px;
    height: 560px;
    border: 3px solid #07948d;
    border-radius: 50%;
    z-index: -1;
}

.home .profession-container .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 400px solid #07948d;
    border-right: 384px solid #07948d;
    border-bottom: 400px solid #07948d;
    border-left: 384px solid transparent;
}


.home-img img {
    position: absolute;
    bottom: 0;
    right: -60px;
    top: -230px;
    pointer-events: none;
    max-width: 700px;
    max-height: 950px;
    border-radius: 20px;
   
    
}


.home-img img{
    height: 950px;
    width: 900px;
}

span {
    color: #07948d;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.about-img {
    height: 500px;
    width:35vw;
    border-radius: 20px;
    border: 2px solid black;
    background-color:#07948d ;
}

.about-img img{
    height: 700px;
    width:40vw;
    margin-top: -204px;
    margin-left:-30px;
}



.heading {
    font-size: 45px;
    text-align: center;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 20px;
}

.about-content p {
    font-size: 16px;
    margin: 20px 0 30px;
}

.services {
    min-height: auto;
    padding-bottom: 100px;
}

.services h2 {
    margin-bottom: 50px;
}

.services .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.services-container .services-box {
    flex: 1 1 300px;
    background: #fdfdfd;
    padding: 30px 20px 40px;
    border-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    text-align: center;
    border-top: 6px solid #07948d;
    border-bottom: 6px solid #07948d;
    transition: .5s ease;
}

.services-container .services-box:hover {
    box-shadow: 0 1px 20px rgba(0, 0, 0, .2);
    transform: scale(1.02);
}

.services-box i {
    font-size: 70px;
    color: #07948d;
}

.services-box h3 {
    font-size: 26px;
    transition: .5s ease;
}

.services-box:hover h3 {
    color: #07948d;
}

.services-box p {
    font-size: 16px;
    margin: 10px 0 30px;
}

.portfolio {
    min-height: auto;
    padding-bottom: 100px;
}

.portfolio h2 {
    margin-bottom: 40px;
}

.portfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 25px;
}

.portfolio-container .portfolio-box {
    position: relative;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    overflow: hidden;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
    border-radius: 20px;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), #07948d);
    color: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    opacity: 0;
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    opacity: 1;
}

.portfolio-layer h4 {
    font-size: 30px;
}

.portfolio-layer p {
    font-size: 16px;
    margin: 3px 0 10px;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #fdfdfd;
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 20px;
    color: #333;
}

.testimonial-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 50px 10px;
}

.testimonial-container .testimonial-wrapper {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px;
}

.testimonial-wrapper .testimonial-box {
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
}

.testimonial-content .testimonial-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fdfdfd;
    border-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    padding: 30px 50px;
    border-top: 8px solid #07948d;
    border-bottom: 8px solid #07948d;
}

.testimonial-slide img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fdfdfd;
    outline: 5px solid #07948d;
}

.testimonial-slide h3 {
    font-size: 25px;
    margin: 20px 0;
}

.testimonial-slide p {
    font-size: 14px;
    text-align: center;
}

.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev {
    color: #07948d;
}

.testimonial-box .swiper-button-next {
    right: 0;
}

.testimonial-box .swiper-button-prev {
    left: 0;
}

.testimonial-box .swiper-pagination-bullet {
    background: rgba(0, 0, 0, .8);
}

.testimonial-box .swiper-pagination-bullet-active {
    background: #07948d;
}

.contact {
    min-height: auto;
    padding-bottom: 70px;
}

.contact h2 {
    margin-bottom: 30px;
}

.contact form {
    max-width: 700px;
    margin: 10px auto;
    text-align: center;
    margin-bottom: 30px;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: #333;
    background: #fdfdfd;
    border-radius: 8px;
    margin: 7px 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 20px;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 7%;
    background: #07948d;
}

.footer-text p {
    font-size: 16px;
    color: #fdfdfd;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: #fdfdfd;
    border-radius: 8px;
    border: 2px solid #07948d;
    outline: 2px solid transparent;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    outline-color: #fdfdfd;
}

.footer-iconTop a i {
    font-size: 24px;
    color: #333;
}




@media (max-width: 1200px) {
    html { font-size: 55%; }
    .home .profession-container .profession-box { right: -10%; }
    .home .profession-container .overlay { right: -6%; }
    .home-img img { right: 0; }
}

@media (max-width: 1100px) {
    .home .profession-container .profession-box { right: -15%; }
    .home-img img { max-width: 420px; }
}

@media (max-width: 1024px) {
    .header { padding: 20px 3%; }
    section { padding: 100px 3% 20px; }
    .home .profession-container .profession-box { right: -20%; }
    .home .profession-container .overlay { right: -12%; }
    .home-img img { max-width: 400px; }
}

@media (max-width: 991px) {
    .navbar a:nth-child(1) { color: #07948d; }
    .navbar a.active::before { background: #07948d; opacity: .7; }
    .home .home-content { max-width: 500px; }
    .home .profession-container .profession-box { right: -35%; }
    .home .profession-container .overlay { right: -30%; }
    .home-img img { display: none; }
    .footer { padding: 20px 3%; }
}

@media (max-width: 896px) {
    .navbar a:nth-child(2) { color: #07948d; }
    .home .profession-container .profession-box { right: -50%; }
    .home .profession-container .overlay { right: -43%; }
}

@media (max-width: 879px) {
    .portfolio .portfolio-container { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 780px) {
    .navbar a:nth-child(2) { color: #fdfdfd; }
}

@media (max-width: 768px) {
    #menu-icon { display: block; }
    #darkMode-icon {
        position: absolute;
        right: 70px;
        font-size: 26px;
        color: #333;
        margin-bottom: 1px;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 10px 3%;
        background: #fdfdfd;
        border-top: 1px solid rgba(0, 0, 0, .2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
        display: none;
    }
    .navbar.active { display: block; }
    .navbar a {
        display: block;
        font-size: 20px;
        margin: 30px 0;
        color: #333;
    }
    .navbar a:nth-child(1),
    .navbar a:nth-child(2) { color: #333; }
    .navbar a.active { color: #07948d; }
    .navbar a::before { display: none; }
    .home {
        padding: 0 3% 230px;
        justify-content: center;
        text-align: center;
    }
    .home-content h3 { font-size: 26px; }
    .home-content h1 { font-size: 50px; }
    .home-content .social-media a { margin: 25px 7.5px 30px; }
    .home .profession-container {
        left: 0;
        width: 100%;
        height: 100%;
    }
    .home .profession-container .profession-box {
        position: fixed;
        top: 450px;
        left: 0;
        width: 100%;
    }
    .home .profession-box .profession {
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }
    .home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-120px, -210px);
    }
    .home .profession-box .profession:nth-child(1) i { margin-right: 0; }
    .home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate(0, -325px);
    }
    .home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-115px, -450px);
    }
    .home .profession-box .profession:nth-child(4) {
        transform: rotate(180deg) translate(-220px, -325px);
    }
    .home .profession-box .circle {
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }
    .home .profession-container .overlay {
        position: fixed;
        top: 700px;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 239px;
    }
    .about {
        flex-direction: column-reverse;
        text-align: center;
    }
    .about-content h2 { text-align: center; }
    .about-img img {
        width: 70vw;
        margin-top: -20px;
    }
    .testimonial-container .testimonial-wrapper { padding: 50px 0; }
    .testimonial-content .testimonial-slide { padding: 30px 20px; }
    .testimonial-box .swiper-button-next,
    .testimonial-box .swiper-button-prev { display: none; }
}

@media (max-width: 580px) {
    .portfolio .portfolio-container { grid-template-columns: 1fr; }
}

@media (max-width: 450px) {
    html { font-size: 50%; }
    #darkMode-icon { right: 60px; }
    .home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-110px, -220px);
    }
    .home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate(5px, -325px);
    }
    .home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-105px, -440px);
    }
    .home .profession-box .profession:nth-child(4) {
        transform: rotate(180deg) translate(-210px, -325px);
    }
    .home .profession-container .overlay { top: 800px; }
    .contact form .input-box input { width: 100%; }
    .footer { flex-direction: column-reverse; }
    .footer p { text-align: center; margin-top: 20px; }
}

@media (max-width: 445px) and (min-width: 410px) {
    .about-img {
        
        width: 80vw;
        margin: 0 auto;
    }
    
    .about-img img {
        width: 400px;
        height: 600px;
        transform: scale(0.9);
    }


    .about-img .img2 {
        margin-bottom: 300px;
        width: 400px;
        height: 900px;
        
    }
    
    .about-content {
        margin-top: 30px;
    }
}

@media (max-width: 365px) {
    .about-img img { width: 90vw; }
}

@media (max-width: 315px) {
    .home-content h1 { font-size: 45px; }
}

