*{
    padding: 0;
    margin: o;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.cur{
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    mix-blend-mode: difference;
    transform: translate(-50% , -50%);
    pointer-events: none;
    transition: 0.5s;
}
 body .home{
    height: 700px;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(img05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 12px 0px;
    transform: scale(100%);
    transition: 0.1s;
  
}

body .home:hover{
    transform: scale(100%);
    background-image: url(img03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    background-color: aliceblue;
    border-radius: 39px;
   
}

header nav{
    height: 50px;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
    
}

header nav .nav2 ul .fa-solid{
    color: rgb(1, 34, 13);
    
}

header nav .nav2 ul li a{
    font-weight: bold;
    color: black;
  
    
}

header nav ul{
    display: flex;
    column-gap: 38px;
    font-size: 19px;
    color: black;
}

header nav .nav1 ul li a{
    color: black;
    transition: 0.5s;
    padding: 5px 15px;
    border-radius: 25%;
}

header nav .nav1 ul li a:hover{
    background-color: rgb(2, 7, 2);
    color: aliceblue;
}




.nav3  a{
    border-radius: 39px;
    background-color: rgb(1, 34, 13);
    color: white;
    padding: 12px 30px;
    transition: 0.5s;

}

.nav3 a:hover{
    background-color: rgb(0, 12, 1);
}


/* 
line breakkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk */


 main .login{
    height: 600px;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    position: relative;
 }

 main .login .div{
    height: 500px;
    width: 700px;
 }

 main .login .div img{
    width: 500px;
    position: absolute;
    left: 200PX;
 }


 main .login .div1{
    height: 500px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    row-gap: 20px;
    padding: 0 30px;
 }

 main .login .div1 h2{
    font-size: 30px;
    color: black;
 }

 main .login .div1 p{
    font-size: 16px;
    color: black;
 }

 main .login .div1 input{
    height: 30px;
    width: 200px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgb(56, 54, 54);
    outline:none;
   
 }

 main .login .div1  .col{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
 }

 main .login .div1  .col a{
    padding: 12px 26px;
    background-color: rgb(6, 89, 64);
    color: white;
    border-radius: 6px;
    color: aliceblue;

 }


 main .login .div1  .col .pass{
    color:rgb(6, 89, 64);
    font-size: 17px;

 }
  













/* 
line breakkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk */

.exclusive{
    height: 400px;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.exclusive .footer-col{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    row-gap: 20px;
    padding: 60px;
}

.exclusive .footer-col h2{
    font-size: 40px;
    color: white;
}

.exclusive .footer-col h3{
    font-size: 30px;
    color: white;
}


.exclusive .footer-col p{
    font-size: 20px;
    color: white;
}

.exclusive .footer-col input{
   height: 40px;
   width: 250px;
}

.exclusive .footer-col1{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    row-gap: 10px;
    padding: 30px;
}

.exclusive .footer-col1 h2{
    font-size: 30px;
    color: white;
}

.exclusive .footer-col1 ul li a{
    font-size: 20px;
    color: white;
}

.exclusive .footer-col2{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 30px;
}

.exclusive .footer-col2 h2{
    font-size: 30px;
    color: white;
}


.exclusive .footer-col2 ul li a{
    font-size: 20px;
    color: white;
}

.exclusive .footer-col3{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 30px;
}

.exclusive .footer-col3 h2{
    font-size: 30px;
    color: white;
}

.exclusive .footer-col3 ul li a{
    font-size: 20px;
    color: white;
}

.exclusive .footer-col4{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 50px;
}

.exclusive .footer-col4 h2{
    font-size: 30px;
    color: white;
}

.exclusive .footer-col4 p{
    font-size: 15px;
    color: rgb(155, 147, 147);
}


.exclusive .footer-col4 .footer-box{
    height: 140px;
    width: 340px;
    border: 2px solid rgb(11, 7, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}


.exclusive .footer-col4 .footer-box1{
    height: 160px;
    width: 180px;
    border: 2px solid rgb(252, 245, 245);
    background-image: url(asses/qr.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.exclusive .footer-col4 .footer-box2{
    height: 160px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}


.exclusive .footer-col4 .footer-box2 .box-card{
    height: 80px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(asses/bita.png);
    background-repeat: no-repeat;
    background-size: cover;
}




footer .footer{
    height: 150px;
    max-width: 1920px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    background-color: rgb(20, 95, 64);
}


footer .footer .footer1{
    height: 150px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 29px;
}

footer .footer .footer1 .col{
    height: 150px;
    width: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    
  
    
   
    
    
}


footer .footer .footer1 .col ul{
    
    column-gap: 23px;
  }

footer .footer .footer1 .col ul li a{
    color: rgb(124, 131, 127);
    column-gap: 23px;
    font-size: 15px;
  }

  footer .footer .footer1 .col h2{
    color: rgb(0, 0, 0);
    column-gap: 23px;
    font-size: 25px;
    transition: 0.5s;
    padding: 5px 30px;
  }

  footer .footer .footer1 .col h2:hover{
    background-color: rgb(0, 241, 60);
  }

  
footer .footer .footer1 .col p{
    color: rgb(124, 131, 127);
    
    font-size: 15px;
  }